{% extends "../../admin_pages_base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center border-dotted-brand-green">
		<div class="text-center title"><h2>Edit Post</h2></div>
		<div class="form-container">
			<form action="{% url 'admin_pages:edit_post' post_id %}" method='post' enctype="multipart/form-data">
				{% crispy form %}
				<div class="form-row">
					<div class="col-25">
						&nbsp;
					</div>
					<div class="col-25" style="text-align: left;">
						<button class="btn btn-primary" type="submit">Save</button>
					</div>
					<div class="col-25" style="text-align: left;">
						<button class="btn btn-danger" onclick="javascript:history.back();" type="button">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block body_scripts %}
<script>
	tinymce.init({
		selector: 'textarea',
		plugins: [
			'autolink','codesample', 'lists','link','image','charmap','preview',
			'anchor','searchreplace','visualblocks', 'fullscreen','insertdatetime',
			'media','table','help','wordcount'
		],
		content_style: "body { line-height: 1; }",
		codesample_dialog_width: '400',	
		codesample_dialog_height: '400',
		use_native_selects: true,
		codesample_languages: [
		{ text: 'HTML/XML', value: 'markup' },
		{ text: 'PowerShell', value: '' },
		{ text: 'JavaScript', value: 'javascript' },
		{ text: 'CSS', value: 'css' },
		{ text: 'PHP', value: 'php' },
		{ text: 'Ruby', value: 'ruby' },
		{ text: 'Python', value: 'python' },
		{ text: 'Java', value: 'java' },
		{ text: 'C', value: 'c' },
		{ text: 'C#', value: 'csharp' },
		{ text: 'C++', value: 'cpp' }
	],
	toolbar: 'undo redo | formatpainter casechange blocks | codesample | bold italic backcolor | ' +
				'alignleft aligncenter alignright alignjustify | ' +
				'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
	});
</script>
{% endblock body_scripts %}








