{% extends "../admin_pages_base.html" %}

{% block content %}

<div class="d-flex justify-content-center" style="padding: 1%;">
	<a href="{% url 'admin_pages:admin_index' %}">
		<button class="btn btn-warning">&#60; Back to Menu</button>
	</a>
</div>

{% load crispy_forms_tags %}
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center border-dotted-brand-green">
		<div class="text-center title"><h2>Edit Email Address</h2></div>
		<div class="form-container">
			<div class="content-container-sm-clear bg-front-neutral">
				<p class="p-2 border-dotted-brand-green text-center fs-400">
					<svg xmlns="http://www.w3.org/2000/svg" width="2.1rem" height="2.1rem" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"
						style="float: left;">
						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
						<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
					</svg>
					&nbsp;Submitted form data will be sent to this email address.
				</p>
			</div>
			<form method="post">
				{% crispy form %}
				<div class="form-row">
                    <div class="col-25">
                        &nbsp;
                    </div>
                    <div class="col-25" style="text-align: left;">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                    <div class="col-25" style="text-align: left;">
                        <button class="btn btn-danger" onclick="javascript:window.location.replace('/admin_pages');" type="button">Cancel</button>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>
<br>

{% endblock content %}