{% extends "./site_pages_base.html" %}
{% load static %}

{% block page_title %}Comment{% endblock page_title %}

{% block more_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock more_links %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<div class="container-sm flow mt-4">
		<div class="lightly-pad-container shadow text-break text-center">
			<div class="text-center title-container"><h2>Comment</h2></div>
			<div class="form-container">
				<form method='post'>
					{% crispy form %}
					<div class="form-row">
						<div class="col-25">
							&nbsp;
						</div>
						<div class="col-25" style="text-align: left;">
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
						<div class="col-25" style="text-align: left;">
							<a href="/post/{{ post_slug }}#post_comments"><button class="btn btn-danger">Cancel</button></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}