{% extends "./site_pages_base.html" %}
{% load static %}
{% load texttransform %}
{% load i18n %}  

{% block page_title %}{{ pagetitle }}{% endblock page_title %}

{% block content %}
<div class="content-container-md-clear border-brand-green shadow mt-4 mb-4">
    <div class="center-container pad-container">
        <h1 class="title-container text-center">{{ pagetitle }}</h1>
    </div>

    <div class="row" id="posts-list">
        <div class="col-lg" style="max-width: 1000px; padding: 2em;">
            {% for post in posts %}
            <div class="content-container container-color-neutral" style="padding-top: 1%;">
                <div class="row" style="padding: 2%;">
                    <div class="col-md" style="border-radius: 5px;">
                        <h3 class="text-center">
                            {{ post.title }}
                        </h3>
                        <p class="text-center">
                            <a href="{% url 'author_profile' post.author.id %}" class="post-author">
                                <span class="highlight">{{ post.author.preferred_name }}</span>
                            </a>
                            <span class="highlight">
                                &nbsp; | &nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-watch" viewBox="0 0 16 16">
                                    <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z"/>
                                    <path d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
                                </svg>
                                {{ post.date }}
                            </span>
                            {% if post.location != '' %}
                            <br>
                            <span class="highlight">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg>
                                {{ post.location }}
                            </span>
                            {% endif %}
                        </p>
                        <hr>
                        <div class="d-flex justify-content-center">
                            {% if post.box_img_file_name == '' %}
                            <img class="shadow" src="{% static 'images/null-image.png' %}" alt="Filler Image"
                                style="width: 70%; height: 200px; object-fit: cover;">
                            {% else %}

                            {% with 'site_pages/posts/images/'|add:post.box_img_file_name as post_img_static %}
                            <img class="shadow" src="{% static post_img_static %}" alt="{{ post.box_img_alt }}"
                                style="width: 70%; height: 200px; object-fit: cover; border-radius: 3px;">
                            {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg" style="line-height: 1.4em; border-radius: 5px; border-left: 1px solid rgba(0, 0, 0, 0.2);">
                        <div style="text-align: left;">
                            {{ post.box_content_text|truncatechars:600|remove_headers|safe|linebreaksbr }}
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 1rem;">
                            <a href="{% url 'post' post.slug %}">
                                <button class="btn bttn-outline-brand-green shadow-sm">
                                   {% trans "Read More" %}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-xs" style="min-width: 320px; max-width: 500px; padding: 2em;">
            <div class="lightly-pad-container bg-front-neutral border-dotted-brand-green">
                <span class="title text-align-center" style="margin-bottom: 12px;">{% trans "Posts A-Z" %}</span>
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" height="36" class="bi bi-search pl-1 pr-1" width="30">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <label class="sr-only" for="timeline-posts-search">{% trans "Search Post by title, date, or author" %}</label>
                    <input id="timeline-posts-search" type="text" class="search" placeholder="Search by title, date, author">
                </div>
                <ul class="list" style="margin-top: 6px; list-style: none;">
                    {% for post in posts %}
                    <li>
                        <a href="{% url 'post' post.slug %}" class="post-title">
                            <span class="highlight">{{ post.title|truncate_uniform_ljust:36 }}</span>
                        </a>
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-watch" viewBox="0 0 16 16">
                            <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z"/>
                            <path d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
                        </svg>
                        <span class="post-date">{{ post.date }}</span>
                        &emsp;
                        <a href="{% url 'author_profile' post.author.id %}" class="post-author"
                            style="float: right;">
                            <span class="highlight">{{ post.author.preferred_name }}</span>
                        </a>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'site_pages/js/posts-lists.js'%}"></script>
{% endblock content %}
