{% extends "./users_base.html" %}

{% block content %}
<br>
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center">
		<div class="text-center"><h2>Delete User</h2></div>
		<div class="form-container">
			<p class="p-2 border-dotted-brand-green text-center fs-450">
				<svg xmlns="http://www.w3.org/2000/svg" width="4.5rem" height="4.5rem" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
					<path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
					<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
				</svg>&nbsp;Deleting user <span class="highlight">{{ user.username }}</span> cannot be undone.
				Are you sure you want to delete?
			</p>
			<div class="form-row mt-3">
				<div class="col-25">
					&nbsp;
				</div>
				<div class="col-25" style="text-align: left;">
					<button class="btn btn-primary" onclick="javascript:history.back();" type="button">Cancel</button>
				</div>
				<div class="col-25" style="text-align: left;">
					<a href="{% url 'users:delete_user' user.id %}"><button class="btn btn-danger">Delete</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}