{% extends './users_base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-sm flow">
    <div class="lightly-pad-container shadow text-break text-center border-brand-green">
        <div class="text-center title"><h2>Reset Password</h2></div>
        <p>
            <span style="font-size: 1.2rem;">Forgotten your password?</span><br>
            Enter your email address below, and we'll email instructions
            for setting a new one.
        </p>
        <div class="form-container border-dotted-brand-green">
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container pad-container center">
                    <button class="btn btn-primary" type="submit">Send</button>
                    <button class="space-left-sm btn btn-danger" onclick="javascript:history.back();">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}