{% extends "./users_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block more_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock more_style %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock breadcrumbs %}

{% block content %}

<style>
	ul { list-style: none; }
	li { color: red; }
    .hidden { display: none; }
</style>

<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break border-brand-green">
        {% if validlink %}

        <div class="text-center title"><h2>Reset Password</h2></div>

        <div class="content-container-sm-clear bg-front-neutral mb-4">
            <div class="p-2 border-dotted-brand-green fs-400" style="border-radius: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="2.1rem" height="2.1rem" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"
                    style="float: left;">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                &nbsp;<span class="fs-500 mb-2">Password Requirements</span>
                <p>
                    1.&ensp;is 8-50 characters long<br>
                    2.&ensp;contains uppercase and lowercase letters<br>
                    3.&ensp;contains at least one digit<br>
                    4.&ensp;does not contain spaces
                </p>
            </div>
        </div>

        <div class="form-container border-dotted-brand-green">
            <div class="row">
                <div class="col-25"></div>

                <p class="col-75">
                    {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
                </p>
            </div>
            <form method="post">{% csrf_token %}
                {% crispy form %}
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="{% translate 'Change password' %}"
                        style="margin-top: 1em; padding-left: 20px; padding-right: 20px;">
                </div>
            </form>
        </div>

        {% else %}

        <div class="content-container-sm-clear bg-front-neutral mb-4">
            <p class="p-2 border-dotted-brand-green text-center fs-450">
                <svg xmlns="http://www.w3.org/2000/svg" width="4.5rem" height="4.5rem" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>&nbsp;{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </p>
        </div>

        {% endif %}
    </div>
</div>
<br>

{% endblock content %}